# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env
# Node / Next.js
node_modules/
.next/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Database (optional)
*.sqlite3
